/*
-   Website 19 ""
-   All Right Reseved | Copyright
-   Designed By Mayank
-   CSS : css/style
*/
:root
{
    --black:#000;
    --sea:#1e7e34;
    --green:#28a745;
    --red:#dc3545;
    --blue:#007bff;
    --white:#fff;
    --fade:rgba(255,255,255,0.7);
}
::-webkit-scrollbar
{
    background:transparent;
}
::-webkit-scrollbar-thumb:hover
{
    background:var(--green);
}
::-webkit-scrollbar-thumb
{
    background:var(--blue);
}
body
{
    scroll-behavior: smooth;
    background: var(--fade) url(../Data/bg.jpg) no-repeat fixed;
    background-size: 100%;
    background-blend-mode: overlay;
}
#header
{
    width: 100%;
    position: sticky;
    z-index: 1000;
    top:0;
    left: 0;
}
#header > .container
{
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav
{
    text-align: center;
}
#nav a
{
    display: inline-block;
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
}
#nav a:hover
{
    text-decoration: none;
    color:var(--white);
    background:var(--blue);
    border-radius: 5px;
}
#nav a:last-child:hover
{
    background:var(--green);
}
.bg
{
    background:var(--fade);
}
#gl_title
{
    animation: anime 1s linear infinite alternate;
}
@keyframes anime
{
    from{
        background:var(--blue);
    }to{
        background:var(--green);
    } 
}
.btn
{
    animation: anime2 1s linear infinite alternate;
}
@keyframes anime2
{
    from{
        opacity:1.0;
        transform:scale(0.9);
    }to{
        opacity:0.8;
        transform: scale(1);
    } 
}
/*
    The End =================================
*/